.imgproduct{
    /*border-radius: 50%;*/
    width: 100%;
    height: 15rem;
}

.titleProduct{
    font-size: 15px;
    font-weight: bold;
}

.titleProductLink{
    text-decoration: none;
    color: rgb(8, 104, 8);
}

.categoryTitle{
    font-weight: bold;
}