{% extends 'base.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1 class='mt-4 mb-4'>Commande</h1>
                {{ form_start(form) }}
                    <input type="submit" value="Continuer">
                {{ form_end(form) }}
            </div>
            <div class="col-4">

            </div>
        </div>
    </div>
{% endblock %}
