name: Tests Symfony E-commerce

on: 
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Setup PHP 8.3
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.3'
        extensions: sqlite3
        
    - name: Cache Composer
      uses: actions/cache@v4
      with:
        path: vendor
        key: composer-${{ hashFiles('**/composer.lock') }}
        
    - name: Install dependencies
      run: composer install --prefer-dist --no-progress
      
    - name: Run PHPUnit tests
      run: |
        php bin/phpunit --verbose --colors=always
        php bin/phpunit --coverage-text
